page-streak {
    .skipped-day {
      color: map-get($colors, 'danger');
    }

    .skipped-icon {
      vertical-align: text-bottom;
    }

    .habit-day {
      color: map-get($colors, 'primary'); 
      font-weight:bold;
    }
}
