<ion-header>
  <ion-navbar>
    <ion-title> <span class="title"> {{ title }} </span> </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center padding>
  <p>Developed by Mike Colbert for SWDV665, 2W 20/FA2.</p>
  <br><br><br>

  <h3>I want to be better, <span class="brand">one new habit </span> at a time...</h3>
  <br>

  <ion-list inset>
    <ion-item-sliding *ngFor="let habit of habits; let i = index">
      <ion-item>
        <h1> {{ habit.name }} </h1>
      </ion-item>
      <ion-item-options sliding="left">
        <button (click)="editHabit(habit, i)" ion-button color="dark" icon-start>
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button color="danger">
          <ion-icon name="trash" (click)="removeHabit(habit, habit._id)"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab left bottom>
    <button ion-fab mini color="dark">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab>
        <ion-icon color="custom-green" name="logo-facebook" (click)="shareViaFacebook()"></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon color="custom-green" name="logo-instagram" (click)="shareViaInstagram()"></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon color="custom-green" name="mail" (click)="shareViaEmail()"></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon color="custom-green" name="text" (click)="share()"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <!-- Will not be displayed if there is already a habit displayed - only one habit at a time -->
  <ion-fab bottom right *ngIf="habits.length === 0">
    <button ion-fab mini (click)="addHabit()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>