<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Daily Check In</h2>
  <p>
    Small changes make a big impact.
  </p>
  <br><br><br>

<h3 text-center *ngIf="loadHabits().length === 0">
  No habits available to track. <br><br> Visit the <b>About</b> page to add a new habit.
</h3>

<ion-list no-lines *ngFor="let habit of loadHabits(); let i = index">

  <button ion-button large full color="secondary" (click)="didToday(habit)">{{ habit.name }} </button>

</ion-list>

<br><br><br>

<h4 text-center *ngIf="loadHabits().length > 0">
Your streak is <i>X</i> days.
</h4>


</ion-content>