<ion-header>
  <ion-navbar>
    <ion-title> <span class="title"> {{ title }} </span> </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center padding>
  <p> Small changes make a big impact. </p>
  <br><br><br>

  <h3 class="no-data" text-center *ngIf="loadHabits().length === 0">
    No habits available to track. <br><br> Visit the <span class="brand">My Habit</span> page to add a new one!
  </h3>

  <ion-list no-lines *ngFor="let habit of loadHabits(); let i = index">
    <p>Click the button each day after you complete your new habit!</p>

    <button ion-button large full color="secondary" (click)="didToday(habit)">{{ habit.name }} </button>

  </ion-list>

  <br><br><br>

  <h4 text-center *ngIf="loadHabits().length > 0">
    Your streak is <i>X</i> days.
  </h4>
  
  <ion-fab bottom right>
    <button ion-fab mini (click)="makeData()">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>