<ion-header>
  <ion-navbar>
    <ion-title> <span class="title"> {{ title }} </span> </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center padding>
  <p> Small changes make a big impact. </p>
  <br><br><br>

  <h3 class="no-data" text-center *ngIf="habits.length === 0">
    No habits available to track. <br><br> Visit the <span class="brand">My Habit</span> page to add a new one!
  </h3>

  <ion-list no-lines *ngFor="let habit of habits; let i = index">
    <p>Click the button each day after <br> you complete your new habit!</p><br>
    <p>
    <button ion-button large full color="secondary" (click)="didToday(habit)">{{ habit.habit_name }} </button></p>
<br><br>
    <h5 text-center >
      You last completed this on</h5> <h4 class="brand">{{latest.last_completed_date | date: 'fullDate'}}</h4>
    

  </ion-list>




  


</ion-content>